@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap");
.bio-container {
  width: 100vw;
  height: 100vh;
  background-color: #2a363b;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.bio-container .overflow-container {
  overflow: hidden;
}
.bio-container .left, .bio-container .right {
  height: 100%;
  transition: all 0.7s ease-in;
}
.bio-container .left {
  width: 30%;
  display: flex;
  flex-direction: column;
  background-color: #e84a5f;
  justify-content: center;
  animation: slideOut30 1.8s backwards;
  transition: all 0.5s 0.5s;
}
.bio-container .left h1 {
  color: #fecea8;
  font-size: 120px;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  margin-left: 20px;
  animation: fallIn 1s 1.4s backwards;
  transition: all 0.7s 0.3s;
}
.bio-container .right {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: #2a363b;
  animation: slideIn70 0.9s 0.9s backwards;
  transition: all 0.5s 0.5s;
}
.bio-container .right ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 80%;
}
.bio-container .right ul li {
  color: #fecea8;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
  list-style: none;
  max-width: 200px;
  padding: 15px;
  margin: 20px 30px;
  border-radius: 5px;
}
.bio-container .right ul li:hover {
  background-color: #ff847c;
}
.bio-container .right ul .li-1 {
  animation: liFallIn 1s 2.4s backwards;
  transition: transform 0.5s 0.5s;
  background-color: #e84a5f;
  font-size: 26px;
}
.bio-container .right ul .li-1:hover {
  background-color: #e84a5f;
}
.bio-container .right ul .li-2 {
  animation: liFallIn 1s 2.3s backwards;
  transition: transform 0.5s 0.4s;
  transition: background-color 0.7s;
  cursor: pointer;
}
.bio-container .right ul .li-3 {
  animation: liFallIn 1s 2.2s backwards;
  transition: transform 0.5s 0.3s;
  transition: background-color 0.7s;
  cursor: pointer;
}
.bio-container .right ul .li-4 {
  animation: liFallIn 1s 2.1s backwards;
  transition: transform 0.5s 0.1s;
  transition: background-color 0.7s;
  cursor: pointer;
}
.bio-container .right ul .li-5 {
  animation: liFallIn 1s 2s backwards;
  transition: transform 0.5s 0.1s;
  transition: background-color 0.7s;
  cursor: pointer;
}
.bio-container .right ul .li-6 {
  animation: liFallIn 1s 1.9s backwards;
  transition: transform 0.5s;
  transition: background-color 0.7s;
  cursor: pointer;
}
.bio-container .right ul .li-out {
  transform: translateY(150%);
}
.bio-container .right iframe {
  height: 28vw;
  width: 50vw;
  animation: liFallIn 1s 2.5s backwards;
}
.bio-container .right .iframe-out {
  transform: translateY(100%);
}
.bio-container .left-out {
  width: 0%;
}
.bio-container .right-out {
  width: 100%;
}

.drop-down {
  transform: translateY(100%);
}

@keyframes slideIn70 {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}
@keyframes slideOut30 {
  from {
    width: 0;
  }
  50% {
    width: 100%;
  }
  to {
    width: 30%;
  }
}
@keyframes liFallIn {
  from {
    transform: translateY(-150%);
  }
  to {
    transform: translateY(0);
  }
}