.drop-down {
    transform: translateY(100%);
}

.line-1-clicked {
    transform: rotate(-360deg);
}
.line-2-clicked {
    transform: rotate(360deg);
}
.line-3-clicked {
    transform: rotate(-360deg);
}

.invisible {
    opacity: 0;
    cursor: default;
}
.right-closed {
    width: 0 !important;
}

.left-open {
    width: 100% !important;
}

.opacity-zero {
    opacity: 0;
}

.active {
    transform: translateX(0);
    opacity: 1;
}