@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap");
.bio-container {
  width: 100vw;
  height: 100vh;
  background-color: #2a363b;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.bio-container .overflow-container {
  overflow: hidden;
}
.bio-container .left, .bio-container .right {
  height: 100%;
  transition: all 0.7s ease-in;
}
.bio-container .left {
  width: 30%;
  display: flex;
  flex-direction: column;
  background-color: #e84a5f;
  justify-content: center;
  animation: slideOut30 2s backwards;
}
.bio-container .left h1 {
  color: #fecea8;
  font-size: 120px;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  margin-left: 20px;
  animation: fallIn 1s 2s backwards;
}
.bio-container .right {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #2a363b;
  animation: slideIn70 1s 1s backwards;
}
.bio-container .right p {
  max-width: 50vw;
  color: #fecea8;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  margin-left: 30px;
  animation: fallIn 1s 3s backwards;
}

@keyframes slideIn70 {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}
@keyframes slideOut30 {
  from {
    width: 50%;
  }
  50% {
    width: 100%;
  }
  to {
    width: 30%;
  }
}