@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

$color-1: #2a363b;
$color-2: #e84a5f;
$color-3: #ff847c;
$color-4: #fecea8;

.app {
    .burger {
        z-index: 500;
        position: fixed;
        top: 50px;
        right: 50px;
        display: flex;
        flex-direction: column;
        .line1, .line2, .line3 {
            background-color: $color-4;
            border-radius: 2px;
            height: 4px;
            width: 30px;
        }
        .line1, .line2 {
            margin-bottom: 5px;
        }
    }
}