@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap");
.app .burger {
  z-index: 500;
  position: fixed;
  top: 50px;
  right: 50px;
  display: flex;
  flex-direction: column;
}
.app .burger .line1, .app .burger .line2, .app .burger .line3 {
  background-color: #fecea8;
  border-radius: 2px;
  height: 4px;
  width: 30px;
}
.app .burger .line1, .app .burger .line2 {
  margin-bottom: 5px;
}