@keyframes slideIn70 {
  from {
    width: 0%; }
  to {
    width: 70%; } }

@keyframes slideOut30 {
  from {
    width: 0; }
  50% {
    width: 100%; }
  to {
    width: 30%; } }

@keyframes liFallIn {
  from {
    transform: translateY(-150%); }
  to {
    transform: translateY(0); } }

@keyframes fallIn {
  from {
    transform: translateY(-100%); }
  to {
    transform: translateY(0); } }

@keyframes slideIn30 {
  from {
    width: 0%; }
  to {
    width: 30%; } }

@keyframes slideOut70 {
  from {
    width: 100%; }
  to {
    width: 70%; } }

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(50%); }
  to {
    opacity: 1;
    transform: translateX(0); } }

.drop-down {
  transform: translateY(100%); }

.line-1-clicked {
  transform: rotate(-360deg); }

.line-2-clicked {
  transform: rotate(360deg); }

.line-3-clicked {
  transform: rotate(-360deg); }

.invisible {
  opacity: 0;
  cursor: default; }

.right-closed {
  width: 0 !important; }

.left-open {
  width: 100% !important; }

.opacity-zero {
  opacity: 0; }

.active {
  transform: translateX(0);
  opacity: 1; }

.bio-container {
  width: 100vw;
  height: 100vh;
  background-color: #2a363b;
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }
  .bio-container .overflow-container {
    overflow: hidden; }
  .bio-container .left, .bio-container .right {
    height: 100%;
    transition: all 0.7s ease-in; }
  .bio-container .left {
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: #e84a5f;
    justify-content: center;
    animation: slideOut30 1.8s backwards;
    transition: all 0.5s 0.5s; }
    .bio-container .left h1 {
      color: #fecea8;
      font-size: 6.25vw;
      font-family: 'Montserrat', sans-serif;
      font-weight: 100;
      margin-left: 20px;
      animation: fallIn 1s 1.4s backwards;
      transition: all 0.7s 0.3s; }
  .bio-container .right {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #2a363b;
    animation: slideIn70 0.9s 0.9s backwards;
    transition: all 0.5s 0.5s; }
    .bio-container .right p {
      max-width: 50vw;
      max-height: 70vh;
      overflow-y: auto;
      color: #fecea8;
      font-size: 22px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
      margin-left: 30px;
      animation: fallIn 1s 2.2s backwards;
      transition: all 0.7s; }
  .bio-container .left-out {
    width: 0%; }
  .bio-container .right-out {
    width: 100%; }
