@keyframes slideIn70 {
  from {
    width: 0%; }
  to {
    width: 70%; } }

@keyframes slideOut30 {
  from {
    width: 0; }
  50% {
    width: 100%; }
  to {
    width: 30%; } }

@keyframes liFallIn {
  from {
    transform: translateY(-150%); }
  to {
    transform: translateY(0); } }

@keyframes fallIn {
  from {
    transform: translateY(-100%); }
  to {
    transform: translateY(0); } }

@keyframes slideIn30 {
  from {
    width: 0%; }
  to {
    width: 30%; } }

@keyframes slideOut70 {
  from {
    width: 100%; }
  to {
    width: 70%; } }

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(50%); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@keyframes imgMediaDropIn {
  from {
    transform: translateY(-100%);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

.drop-down {
  transform: translateY(100%); }

.line-1-clicked {
  transform: rotate(-360deg); }

.line-2-clicked {
  transform: rotate(360deg); }

.line-3-clicked {
  transform: rotate(-360deg); }

.invisible {
  opacity: 0;
  cursor: default;
  pointer-events: none; }

.right-closed {
  width: 0 !important; }

.left-open {
  width: 100% !important; }

.opacity-zero {
  opacity: 0; }

.active {
  transform: translateX(0);
  opacity: 1; }

.landing-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row; }
  .landing-container .left, .landing-container .right {
    height: 100%;
    transition: all 0.7s ease-in; }
  .landing-container .overflow-container {
    overflow: hidden; }
  .landing-container .left {
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: #2a363b;
    justify-content: center;
    animation: slideOut70 1s 3s backwards; }
    .landing-container .left h1 {
      color: #fecea8;
      font-size: 6.25vw;
      font-family: 'Montserrat', sans-serif;
      font-weight: 100;
      margin-left: 20px;
      animation: fallIn 1s 0.5s backwards;
      transition: all 0.7s 0.3s; }
    .landing-container .left h3 {
      color: #fecea8;
      font-size: 2.6vw;
      font-family: 'Montserrat', sans-serif;
      font-weight: 100;
      margin-left: 30px;
      animation: fallIn 1s 1.5s backwards;
      transition: all 0.7s; }
  .landing-container .right {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #e84a5f;
    animation: slideIn30 1s 2.5s backwards; }
    .landing-container .right img {
      position: relative;
      right: 16vw;
      border-radius: 50%;
      height: 32vw;
      width: 32vw;
      object-fit: cover;
      object-position: right;
      transition: all 0.5s ease-out;
      animation: fadeIn 0.6s 2.5s backwards; }
    .landing-container .right .hide-img {
      display: none; }
  @media only screen and (max-width: 800px) {
    .landing-container .left {
      justify-content: start;
      animation: slideOut70 1s 0.5s backwards;
      align-items: center; }
      .landing-container .left .spacer {
        height: 15vh; }
      .landing-container .left h1 {
        margin: 0;
        font-size: 9vw;
        animation: fallIn 1s 1.5s backwards; }
      .landing-container .left h3 {
        margin: 0;
        font-size: 4vw;
        animation: fallIn 1s 2s backwards; }
    .landing-container .right {
      animation: slideIn30 1s 0.5s backwards; }
      .landing-container .right .img-overflow-container {
        position: fixed;
        left: 5vw;
        bottom: 18vh;
        width: 60vw;
        height: 60vw;
        overflow: hidden; }
        .landing-container .right .img-overflow-container img {
          position: relative;
          top: 0;
          right: 0;
          width: 60vw;
          height: 60vw;
          animation: imgMediaDropIn 1s 2.5s backwards; } }
