nav {
  position: fixed;
  right: 0;
  z-index: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 50vw;
  height: 100vh;
  background-color: #e84a5f;
  transform: translateX(50vw);
  opacity: 0;
  transition: all 1s ease-out;
}
nav h3 {
  color: #fecea8;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 300;
  padding: 20px;
  width: 30%;
  border-radius: 5px;
  text-align: center;
  transition: all 0.7s;
  cursor: pointer;
}
nav h3:hover {
  background-color: #ff847c;
}

.active {
  transform: translateX(0);
  opacity: 1;
}