@import 'helpers/_animations.scss';
@import 'helpers/_variables.scss';
@import 'helpers/_animation-classes';

.landing-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    
    .left, .right {
        height: 100%;
        transition: all 0.7s ease-in;
    }
    
    .overflow-container {
        overflow: hidden;
    }

    .left {
        width: 70%;
        display: flex;
        flex-direction: column;
        background-color: $color-1;
        justify-content: center;
        animation: slideOut70 1s 3s backwards;

        h1 {
            color: $color-4;
            font-size: 6.25vw;
            font-family: 'Montserrat', sans-serif;
            font-weight: 100;
            margin-left: 20px;
            animation: fallIn 1s 0.5s backwards;
            transition: all 0.7s 0.3s;
        }
        
        h3 {
            color: $color-4;
            font-size: 2.6vw;
            font-family: 'Montserrat', sans-serif;
            font-weight: 100;
            margin-left: 30px;
            animation: fallIn 1s 1.5s backwards;
            transition: all 0.7s;
        }
    }

    .right {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: $color-2;
        animation: slideIn30 1s 2.5s backwards;
        img {
            position: relative;
            right: 16vw;
            border-radius: 50%;
            height: 32vw;
            width: 32vw;
            object-fit: cover;
            object-position: right;
            transition: all 0.5s ease-out;
            animation: fadeIn 0.6s 2.5s backwards;
        }
        .hide-img {
            display: none;
        }
    }
    
    @media only screen and (max-width: 800px) {
        .left {
            justify-content: start;
            animation: slideOut70 1s 0.5s backwards;
            align-items: center;
            .spacer {
                height: 15vh;
            }
            h1 {
                margin: 0;
                font-size: 9vw;
                animation: fallIn 1s 1.5s backwards;
            }
            h3 {
                margin: 0;
                font-size: 4vw;
                animation: fallIn 1s 2s backwards;
            }
        }
        .right {
            animation: slideIn30 1s 0.5s backwards;
            .img-overflow-container {
                position: fixed;
                left: 5vw;
                bottom: 18vh;
                width: 60vw;
                height: 60vw;
                overflow: hidden;
                img {
                    position: relative;
                    top:0;
                    right:0;
                    width: 60vw;
                    height: 60vw;
                    animation: imgMediaDropIn 1s 2.5s backwards;
                }
            }
        }
    }
}