@import 'helpers/_animations.scss';
@import 'helpers/_variables.scss';
@import 'helpers/animation-classes';

.project-container {
    width: 100vw;
    height: 100vh;
    background-color: $color-1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
    .overflow-container {
        overflow: hidden;
    }

    .left, .right {
        height: 100%;
        transition: all 0.7s ease-in;
    }

    .left {
        width: 30%;
        display: flex;
        flex-direction: column;
        background-color: $color-2;
        justify-content: center;
        animation: slideOut30 1.8s backwards;
        transition: all 0.5s 0.5s;


        h1 {
            color: $color-4;
            font-size: 120px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 100;
            margin-left: 20px;
            animation: fallIn 1s 1.4s backwards;
            transition: all 0.5s 0.3;
        }
    }

    .right {
        width: 70%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        background-color: $color-1;
        animation: slideIn70 0.9s 0.9s backwards;
        transition: all 0.5s 0.5s;
        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            max-width: 80%;
            li {
                color: $color-4;
                font-family: 'Montserrat', sans-serif;
                font-size: 20px;
                text-align: center;
                list-style: none;
                max-width: 200px;
                padding: 15px;
                margin: 20px 30px;
                border-radius: 5px;
            }
            li:hover {
                background-color: $color-3;
            }
            .li-1 {
                animation: liFallIn 1s 2.4s backwards;
                transition: transform 0.5s 250ms;
                background-color: $color-2;
                font-size: 26px;
            }
            .li-1:hover {
                background-color: $color-2;
            }
            .li-2 {
                animation: liFallIn 1s 2.3s backwards;
                transition: transform 0.5s 0.2s, 
                    background-color 0.7s;
                cursor: pointer;
            }
            .li-3 {
                animation: liFallIn 1s 2.2s backwards;
                transition: transform 0.5s 150ms,
                    background-color 0.7s;
                cursor: pointer;
            }
            .li-4 {
                animation: liFallIn 1s 2.1s backwards;
                transition: transform 0.5s 0.1s,
                    background-color 0.7s;
                cursor: pointer;
            }
            .li-5 {
                animation: liFallIn 1s 2s backwards;
                transition: transform 0.5s 50ms,
                    background-color 0.7s;
                cursor: pointer;
            }
            .li-6 {
                animation: liFallIn 1s 1.9s backwards;
                transition: transform 0.5s,
                    background-color 0.7s;
                cursor: pointer;
            }

            .li-active {
                background-color: $color-3;
            }

            .li-out {
                transform: translateY(150%);
            }
        }

        iframe {
            height: 28vw;
            width: 50vw;
            animation: liFallIn 1s 2.5s backwards;
            transition: all 0.5s;
        }
        .iframe-out {
            transform: translateY(120%);
        }
    }
    .left-out {
        width: 0%;
    }

    .right-out {
        width: 100%;
    }

}
